@font-face {
  font-family: "Sofia Sans", sans-serif;
  src: local("Sofia Sans"),
  url("../assets/Sofia_Sans/SofiaSans-VariableFont_wght.ttf") format("truetype");
}
html{
  font-family: "Sofia Sans";
}
